mixin snackbar(title='Default Title', message ='Default Message', spanq="")
    div(id="popup" class="flex items-center rounded shadow-md overflow-hidden relative dark:bg-gray-900 dark:text-gray-100")
        div(class="self-stretch flex items-center px-3 flex-shrink-0 dark:bg-gray-700 dark:text-violet-400")
            case spanq
                when 'info' : include ../cmpnt/svg-info.pug
                when 'erreur' : include ../cmpnt/svg-erreur.pug
        div(class="p-4 flex-1 min-w-100")
            h3(class="text-xl font-bold")= title 
            p(class="text-sm dark:text-gray-400")= message

mixin load(name)
    div(id="load" class!=attributes.class)= name
